@model IEnumerable<ToDoList.Models.Item>

@{
    ViewData["Title"] = "To Do List";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List</h2>
    <p>@Html.ActionLink("Task list", "Index", "Items")</p>
	<p>@Html.ActionLink("Category list", "Index", "Categories")</p>
</body>
</html>